:root{
	--title: #C8BDFE;
	--text: #F7F7FB;
	--subtext: #D6CFE2;
	--buttons: #7A5BAB;
	--bg: #20162E;
	--lightBG: #45355F;
	--output: #DBC6FE;
	--spacing:1.7rem;
	--topspacing: 1.2rem 0;
	--actionfsize: 1.2rem;
}
*{
	background-color: var(--bg);
	color: var(--text);
	box-sizing: border-box;
	margin: 0;
	user-select: none;
}

body{
	padding: var(--spacing);
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: "Karla", sans-serif;
}
main{
 max-width: 700px;
}

.hero {
	margin-top: 5vh;
	padding: var(--topspacing);
}

.title{
	font-size: 3.1rem;
}
span {
	color:var(--title);
	display: block;
}
.subtitle {
	color: var(--subtext);
	padding: var(--topspacing);
	font-size: 1.5rem ;
}

.toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	padding: var(--topspacing) ;
	color: var(--subtext);
}

.toggle-description {
	padding: 0 0 0 ;
	font-size: var(--actionfsize);
	width:230px ;
	color: var(--subtext);
}

.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 24px;
  }

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
.slider {
	border-radius: 24px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--lightBG);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
.slider:before {
	border-radius: 24px;
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: 4px;
	bottom: 1.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
input:checked + .slider {
	background-color: var(--buttons);
  }
  
input:checked + .slider:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
  }

.generate-btn {
	padding:0.8rem;
	font-size: var(--actionfsize);
	border: none;
	border-radius: 7px;
	background-color: var(--buttons);
	color: var(--text);
	margin-top: var(--spacing);
  }

  .line {
	margin: var(--topspacing);
	width: 100%;
	border: 1px solid var(--lightBG);
  }
.results {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.output {
	background-color: var(--lightBG);
	height: 36px;
	width: 47%;
	font-size: 1.3rem;
	border-radius:7px ;
	padding: 0.3rem 0.8rem;
	text-align: center;
	color:var(--output);
	user-select: text;
}

.output-hover:hover,.output-hover:focus {
	background-color: var(--output);
	color: var(--bg);
	cursor:copy;
  }

.copyText-msg{
	color: var(--subtext);
	text-align: center;
	padding: var(--spacing);
	font-size: var(--actionfsize);
}

.gpqj-footer {
	padding: 0;
	font-size: 0.85rem;
	word-spacing: 0.9rem;
	letter-spacing: 0.5rem;
}

@media (max-width: 720px) {
	main{
		width: auto;
	   }
	
	.hero {
		margin:0;
	}
	.results {
		flex-direction: column;
		align-items: center;
	}

	.output {
		margin: 2vh;
		width: 80%;
	}
}